<form [formGroup]="jokesForm" class="jokes-form-container">
  <div class="jokes-form-row">
    <label for="question">Question</label>
    <input
      class="jokes-form__input"
      type="text"
      id="question"
      [formControlName]="'question'"
      placeholder="Enter a question..."
    />
    <small
      *ngIf="
        jokesForm.get('question')?.touched &&
        jokesForm.get('question')?.hasError('required')
      "
      class="jokes-form__validator"
    >
      *This field is required!
    </small>
  </div>
  <div class="jokes-form-row">
    <label for="answer">Answer</label>
    <input
      class="jokes-form__input"
      type="text"
      id="answer"
      [formControlName]="'answer'"
      placeholder="Enter an answer..."
    />
    <small
      *ngIf="
        jokesForm.get('answer')?.touched &&
        jokesForm.get('answer')?.hasError('required')
      "
      class="jokes-form__validator"
    >
      *This field is required!
    </small>
  </div>
  <div class="jokes-form-row align-items-start">
    <button type="button" class="jokes-form__button" (click)="addJoke()">
      Create
    </button>
  </div>
</form>
